.shoot-button {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgba(129, 255, 255, 0.74);
    border: 5px solid rgba(148, 255, 228, 0.61);
    top: 490px;
    left: 650px;
}
.shoot-button:active{
    background-color: rgba(148, 251, 255, 0.822);
    border-color: rgba(26, 255, 255, 0.74);
}